
mat-drawer-container{
    border:1px solid black;
    height: 700px;
    margin-bottom: 20px;
}
mat-drawer{
    width: 20%;
}
ul{
    padding: 0;
}
ul li{
    list-style: none;
    padding: 15px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid grey;
}
ul li a{
text-decoration: none;
color: black;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 400;
}

ul li:hover, .activebutton{
    background-color: gray;
    color: white;
}
ul li:hover  a, .activebutton a {
    color: white !important;
}
