img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
video{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin-top: 50px;
}

#video {
    background-color: #000000;
}
#canvas {
    display: none;
}
